header {
  background: #fff;
  height: var(--header-height);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

h1 {
  color: #333;
}
